h1{
	color:#333399;
	font-size: 75px;
	text-align: center;
}

body{
	background-color:#6666CC;
	font-family: sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	background-color: #333399;
}

li{
	float: left;
}

li a{
	float: left;
	text-align: center;
	padding: 20px;
	color: white;
	font-size: 30px;
}

li a:hover{
	color: #330066;
}

img.social:hover{
	opacity: .50;
}

div.section{
	display:block;
	background-color: #333399;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 5px;
	border-color: #3d3d90;
	border-style: solid;
}